
h1 {
    color: #0ca03e;
    padding: 40px 80px;
    font-size: 48px;
    text-align: center;
}



/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: grid;
    place-items: center;
  }

  .content {
    text-align: center;
  }
  
  /* Selectors */
  .container {
    position: relative;
    height: 100vh; /* Full viewport height, adjust as needed */
  }

  /* Layout */
  .header {
    background-color: #ff23ff;
    padding: 10px;
  }
  
  .footer {
    background-color: #3f3f3f;
    padding: 10px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  }

  /* Animations */
  .btn {
    background-color: #008CBA;
    color: white;
    padding: 20px 40px;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn:hover {
    background-color: #005F6B;
  }


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Three columns of equal width */
  grid-gap: 150px; /* Gap between grid items */
  /* Optionally, you can define grid-template-rows for row layout */
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: left;
  font-size: x-large;
  font-style: "Arial", sans-serif;
}


input[type="submit"] {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 20px 40px; /* Padding */
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Pointer/hand icon on hover */
  font-size: 24px; /* Larger font size */
}