h1 {
    color: #0ca03e;
    padding: 40px 80px;
    font-size: 96px;
    text-align: center;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

p {
    color: blueviolet;
    font-size: 24px;
}

.number {
    color: rgb(0, 0, 0); /* Change to your desired color */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-item {
    text-align: right;
}

.btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
