h1 {
    color: #0ca03e;
    padding: 40px 80px;
    font-size: 96px;
    text-align: center;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: left;
  }

p {
    color: blueviolet;
    font-size: 32px;
    text-align: left;
    font-style: "Arial", sans-serif;
}

.number {
    color: rgb(0, 0, 0); /* Change to your desired color */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Three columns of equal width */
    grid-gap: 150px; /* Gap between grid items */
    /* Optionally, you can define grid-template-rows for row layout */
}
  
.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: left;
    font-size: x-large;
    font-style: "Arial", sans-serif;
}

.text-item {
    text-align: left;
}

.btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
