
h1 {
    color: #0ca03e;
    padding: 40px 80px;
    font-size: 48px;
    text-align: center;
}



/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Selectors */
  .container {
    position: relative;
    height: 100vh; /* Full viewport height, adjust as needed */
  }

  /* Layout */
  .header {
    background-color: #ff23ff;
    padding: 10px;
  }
  
  .footer {
    background-color: #3f3f3f;
    padding: 10px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  }

  /* Animations */
  .btn {
    background-color: #008CBA;
    color: white;
    padding: 20px 40px;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn:hover {
    background-color: #005F6B;
  }

  .text-item {
    text-align: center;
    font-size: 24px;
}
