<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
</head>
<body>
    <h1>Please sign in to access your portfolio of investments</h1>
    <form id="signInForm" action="/submit/login" method="POST">
        <div class="ui placeholder segment">
            <div class="ui two column very relaxed stackable grid">
              <div class="column">
                <div class="ui form">
                  <div class="field">
                    <label>Username</label>
                    <div class="ui left icon input">
                      <input type="text" name="temp_user" placeholder="username">
                      <i class="user icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label>Password</label>
                    <div class="ui left icon input">
                      <input type="password" name="temp_pswd">
                      <i class="lock icon"></i>
                    </div>
                  </div>
                  <div class="ui blue submit button" onclick="submitForm()">Login</div>
                </div>
              </div>
              <div class="middle aligned column">
                <div class="ui big button" onclick="modal()">
                  <i class="signup icon"></i>
                  Sign Up
                </div>
              </div>
            </div>
            <div class="ui vertical divider">
              Or
            </div>
          </div>
        </div>
    </form>
    <div class="ui basic modal">
      <div class="ui icon header">
        <i class="user icon"></i>
        New profile
      </div>
      <div class="content">
        <p>Please enter your username and password</p>
      </div>
      <form id="myForm" action="/submit/account" method="POST">
        <div class="column">
          <div class="ui form">
            <div class="field">
              <label>Username</label>
              <div class="ui left icon input">
                <input type="text" name="username" placeholder="username">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="ui left icon input">
                <input type="password" name="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <div class="actions">
              <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Exit
              </div>
              <div class="ui green ok inverted button" onclick="submitForm1()">
                <i class="checkmark icon"></i>
                Ok
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script>
      function submitForm1() {
        document.getElementById("myForm").submit();
      }
      function submitForm() {
        document.getElementById("signInForm").submit();
      }
      function modal() {
        $('.ui.basic.modal')
        .modal('show')
        ;
      }
      function login() {
        fetch('../user_data.json');
      }
      
    </script>
</body>
</html>
 