<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Investment Calculus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Please fill out the form with accurate estimates for the project conditions</h1>
    <form action="/submit" method="POST">
        <div class="grid-container">
            <div class="grid-item">
                <p>To accurately calculate your investment returns, please provide estimates for the following variables. Each variable is crucial for the precise calculation of your investment’s financial outlook. Below is a detailed explanation of each term you need to enter</p>

                <p>Project lifetime: Indicates the expected duration of the project in years.</p>
                <p>Initial Investment: This is the total amount of money you initially invested in the project.</p>
                <p>Incoming Payments: These are the expected inflows of cash from the project on a yearly basis.</p>
                <p>Outgoing Payments: These represent the expected outflows of cash necessary for the project’s operations and expenses. Give an average estimate of yearly total outgoing payments under your projects lifetime.</p>
                <p>Residual: The residual value is the estimated remaining value of the project at the end of its useful life. For example, if the project’s equipment will be worth 100 000$ after depreciation, that’s the number to enter.</p>
                <p>Restricted Equity: Restricted equity refers to the portion of equity that cannot be distributed to shareholders or used for other purposes.</p>
                <p>Discount Rate: The discount rate is used to calculate the present value of future cash flows. Enter this rate in decimal form. For example, if your discount rate is 5%, enter 0.05</p>
                <p>Tax Rate: This is the rate at which the project’s earnings will be taxed. Enter the tax rate in decimal form. For example, if the tax rate is 30%, enter 0.30</p>
                <p>By providing accurate estimates for each of these variables, you ensure the most precise calculation of your investment’s financial performance.</p>
            </div>
            <div class="grid-item">
                <br>
                <label for="project_name">Project Name:</label>
                <input type="string" id="project_name" name="project_name"><br>
                <br>
                <br>
                <label for="lifetime">Project lifetime:</label>
                <input type="number" id="lifetime" name="lifetime"><br>
                <br>
                <br>
                <label for="investment">Initial Investment:</label>
                <input type="number" step="100000" id="investment" name="investment"><br>
                <br>
                <br>
                <label for="inflows">Incoming Payments (from year 1):</label>
                <input type="number" step="100000" id="inflows" name="inflows"><br>
                <br>
                <br>
                <label for="outflows">Outgoing Payments (from year 1):</label>
                <input type="number" step="100000" id="outflows" name="outflows"><br>
                <br>
                <br>
                <label for="outflow_0">Outgoing Payments (year 0):</label>
                <input type="number" step="100000" id="outflow_0" name="outflow_0"><br>
                <br>
                <br>
                <label for="residual">Residual:</label>
                <input type="number" step="100000" id="residual" name="residual"><br>
                <br>
                <br>
                <label for="work_cap">Restricted Equity:</label>
                <input type="number" step="100000" id="work_cap" name="work_cap"><br>
                <br>
                <br>
                <label for="discount_rate">Discount Rate:</label>
                <input type="floatformat" step="any" id="discount_rate" name="discount_rate"><br>
                <br>
                <br>
                <label for="tax_rate">Tax Rate:</label>
                <input type="floatformat" step="any" id="tax_rate" name="tax_rate"><br>
                <br>
                <input type="submit" value="Submit">
            </div>                   
        </div>
    </form>
</body>
</html>
