<!DOCTYPE html>
<html>
<head>
    <title>Investment Calculus</title>
    <meta charset="UTF-8">
    <title>Data Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <style>
        body {
            background-color:rgb(243, 239, 239); /* Light gray background color */
        }
        .custom-theme {
          background-color: #4CAF50;
          color: white;
          padding: 20px;
          border-radius: 5px;
      }
    </style>
</head>
<body>
    <div style="position: relative; display: flex; justify-content: center; margin-bottom: 20px;">

      <!-- Logo: Positioned absolutely in the white space on the left -->
      <img src="{{ url_for('static', filename='investment_calculator.png') }}"
          alt="Logo"
          style="position: absolute; left: 0; top: 0; height: 400px;">
  
      <!-- Green header: centered and fixed width -->
      <div class="ui container custom-theme" style="width: 900px;">
          <h1 class="ui header">The project has been developed to simplify and clarify investment calculation</h1>
          <p>Click on the Investment Calculus icon to begin the process of obtaining a net present value for your future investments</p>
  
          {% if "username" in current_investor %}
          <p>Username: {{ current_investor["username"] }}</p>
          {% endif %}
  
          <div class="ui attached stackable menu">
              <div class="ui container">
                  <a href="/calculus" class="item">
                      <i class="calculator icon"></i> Investment Calculus
                  </a>
                  <a href="/account" class="item">
                      <i class="address card outline icon"></i> Sign in or create account
                  </a>
              </div>
          </div>
      </div>
    </div>
    {% if list_of_projects|length > 0 %}
    <div class="ui centered divided items" style="margin-top: 200px;">
        <div class="item">
          <div class="image">
            <img src="data:image/png;base64,{{ list_of_diagrams[0] }}">
          </div>
          <div class="content">
            <a class="header" href="{{ url_for('view_project', username=current_investor['username'], project_name=list_of_projects[0]) }}">
              Project: {{ list_of_projects[0] }}
            </a>
            <div class="meta">
              <span class="cinema">Net Present Value: {{ list_of_npv[0] }}$</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Download Excel File
                <i class="right chevron icon"></i>
              </div>
              <div class="ui label">Break even point: </div>
            </div>
          </div>
        </div>
        {% else %}
          <br>
        {% endif %}
        {% if list_of_projects|length > 1 %}
        <div class="item">
          <div class="image">
            <img src="data:image/png;base64,{{ list_of_diagrams[1] }}">
          </div>
          <div class="content">
            <a class="header" href="{{ url_for('view_project', username=current_investor['username'], project_name=list_of_projects[1]) }}">
              Project: {{ list_of_projects[1] }}
            </a>
            <div class="meta">
              <span class="cinema">Net Present Value: {{ list_of_npv[1] }}$</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Download Excel File
                <i class="right chevron icon"></i>
              </div>
              <div class="ui label">Break even point: </div>
            </div>
          </div>
        </div>
        {% else %}
          <br>
        {% endif %}
        {% if list_of_projects|length > 2 %}
        <div class="item">
          <div class="image">
            <img src="data:image/png;base64,{{ list_of_diagrams[2] }}">
          </div>
          <div class="content">
            <a class="header" href="{{ url_for('view_project', username=current_investor['username'], project_name=list_of_projects[2]) }}">
              Project: {{ list_of_projects[2] }}
            </a>
            <div class="meta">
              <span class="cinema">Net Present Value: {{ list_of_npv[2] }}$</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="extra">
              <div class="ui right floated primary button">
                Download Excel File
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
        {% else %}
          <br>
        {% endif %}
      </div>
</body>
</html>