<!DOCTYPE html>
<html>
<head>
    <title>Investment Calculus</title>
    <meta charset="UTF-8">
    <title>Data Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>The project has been developed to simplify and clarify investment calculation</h1>
    <p class="text-item">Fill in the values ​​in the form to obtain a net present value</p>
    <div class="container">
        <a href="/calculus" class="btn">Investment Calculus</a>
    </div>
</body>
</html>